@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Overpass', sans-serif;
}
$color1: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);


body {
    background-color: $VeryDarkBlue;
    color: $White;
    position: relative;
    min-height: 100vh;
}
a {
    color: $MediumGrey;
}
.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $DarkBlue;
    width: 300px;
    padding: 30px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0 5px rgba(20, 17, 46, 0.289);
   
    #send {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 35px;
        padding: 8px 100px;
        border-radius: 15px;
        border: none;
        background-color: $color1;
        color: $White;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
            background-color: $White;
            color: $color1;
        }
    }
    h1{
        padding: 15px 0;
        font-weight: 400;
    } 
    p{
        font-size: 14px;
        color: $LightGrey;
        padding-bottom: 30px;
        font-weight: 400;
    }
    #rates {
        display: flex;
        align-items: center;
        justify-content: space-around;
     
        li {
            background-color: $VeryDarkBlue;
            opacity: 0.3;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                background-color: $color1;
                opacity: 1; 
            }
        }
        li.active {
            background-color: red;
        }
    }
    .thanks{
       
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        #pic {
            transform: translateX(-10px);
        }
        h1 {
            font-weight: 700;
        }
        button{
            margin-top: 15px;
            background-color: hsl(212, 18%, 28%);
            color: $color1;
            border: none;
            border-radius: 15px;
            padding: 5px 15px;
        }
        p{
            font-size: 14px;
            width: 120%;
            transform: translateX(-10%);
        }
    }
}

